.banner-blog {
  background-image: url("img/banner_block.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-blog_details {
  background-image: url("img/blog-details-banner.jpg");
}
.banner-blog__intro {
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 41px 78px 41px 78px;
  border-radius: 37px 37px 0px 0px;
}
.banner-blog__title {
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 0%;
  text-align: left;
}
.banner-blog__text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
}

.post__name {
  margin-top: 200px;
  margin-bottom: 27px;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: left;
}
.post__container {
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  gap: 65px;
  padding: 22px;
  padding-right: 56px;
  align-items: center;
}
.post__img {
  border-radius: 50px;
}
.post__title {
  margin-bottom: 22px;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: left;
}
.post__text {
  margin-bottom: 41px;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.post__date {
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
}

.pagination {
  margin-top: 51px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}
.pagination__container {
  display: flex;
  gap: 20px;
}
.pagination__number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 1px solid rgb(205, 162, 116);
  width: 52px;
  height: 52px;
  border-radius: 52px;
}
.pagination__number:hover {
  background: rgb(244, 240, 236);
  border: none;
  width: 54px;
  height: 54px;
}
.pagination__text {
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: rgb(77, 80, 83);
  color: #292f36;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.pagination__svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination svg circle:hover {
  fill: rgb(244, 240, 236);
}

.blog-details__container {
  margin-top: 200px;
  display: flex;
  gap: 52px;
}

.blog-details {
  width: 800px;
}

.article {
  margin-bottom: 96px;
}
.article__title {
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 20px;
}
.article__img {
  margin-top: 21px;
  margin-bottom: 35px;
  border-radius: 50px;
}
.article__info {
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 11px;
  margin-bottom: 46px;
  display: flex;
  gap: 409px;
}
.article__info-bredcrumbs {
  display: inline-block;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  text-align: left;
  text-transform: capitalize;
}
.article__info-bredcrumbs:not(:last-child)::after {
  content: "/";
  padding-left: 5px;
}
.article__text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
}
.article__list {
  margin-top: 24px;
  margin-bottom: 23px;
  display: flex;
  width: 732.39px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  list-style-position: 10px 0;
}
.article__list-num {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.article__list-num-text {
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  line-height: 125%;
  letter-spacing: 0.4px;
}
.article__list-item {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
}

.tags__buttons-block {
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tags__title {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: left;
}
.tags__buttons-item {
  cursor: pointer;
  background: rgb(244, 240, 236);
  padding: 9px 30px 9px 30px;
  border-radius: 10px;
  border: none;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(77, 80, 83);
  letter-spacing: 2%;
  text-align: center;
}
.tags__buttons-item:hover {
  background: rgb(41, 47, 54);
  color: rgb(255, 255, 255);
}
.tags__buttons-item:not(:last-child, :nth-last-child(2)) {
  margin-bottom: 11px;
}
.tags__buttons-item:not(:nth-child(2n)) {
  margin-right: 10px;
}

.info-blok {
  margin-bottom: 27px;
  margin-top: 35px;
  padding: 53px 227px;
  background: rgb(244, 240, 236);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.info-blok__quotation-marks {
  width: 106px;
  height: 133px;
  flex-shrink: 0;
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display";
  font-size: 200px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
}
.info-blok__text {
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-bottom: 57px;
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__logo {
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 34px;
  height: 34px;
}
.header__menu {
  font-family: "Jost";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  display: flex;
  gap: 48px;
}
.header__link {
  color: rgb(41, 47, 54);
}

.banner__block {
  height: 758px;
  background-image: url("img/banner.jpg");
  background-repeat: no-repeat;
  border-radius: 75px;
}
.banner__content {
  padding: 208px 715px 0px 52px;
}
.banner__title {
  margin-bottom: 18px;
  font-family: "DM Serif Display";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
}
.banner__text {
  margin-bottom: 21px;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
}
.banner__text-button {
  width: 220px;
  padding: 26px 0;
  background-color: rgb(41, 47, 54);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banner__text-button p {
  color: #fff;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.project {
  margin-top: 96px;
  margin-bottom: 96px;
}
.project__title {
  margin-bottom: 8px;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  text-align: center;
  letter-spacing: 2%;
}
.project__text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  text-align: center;
  letter-spacing: 1%;
  padding-left: calc(50% - 368.5px);
  padding-right: calc(50% - 368.5px);
}
.project__item-block {
  margin-top: 93px;
  display: grid;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 56px;
  grid-template-columns: repeat(2, 550px);
}
.project__item_img-1 {
  border-top-right-radius: 75px;
}
.project__item_img-2 {
  border-top-left-radius: 75px;
}
.project__item_img-3 {
  border-bottom-right-radius: 75px;
}
.project__item_img-4 {
  border-bottom-left-radius: 75px;
}
.project__item-content {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__item-title {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  text-align: left;
  letter-spacing: 2%;
}
.project__item-text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  text-align: left;
  letter-spacing: 1%;
}

.info-block {
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: rgb(244, 240, 236);
}
.info-block__container {
  padding-left: 59px;
  padding-right: 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.info-block__item {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding-right: 60px;
  border-right: 1px solid rgb(205, 162, 116);
  height: 130px;
}
.info-block__item:last-child {
  border-right: none;
}
.info-block__item-title {
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
}
.info-block__item-text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  text-align: left;
  letter-spacing: 1%;
}

.blog {
  margin-top: 96px;
  margin-bottom: 96px;
}
.blog__title {
  margin-bottom: 12px;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: center;
}
.blog__title_blog-page {
  margin-bottom: 30px;
  margin-top: 150px;
  text-align: left;
}
.blog__text {
  padding-left: calc(widthContent - 405.5px);
  padding-right: calc(widthContent - 405.5px);
  margin-bottom: 52px;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: center;
}
.blog__item-block {
  display: grid;
  grid-template-columns: repeat(3, 382px);
  gap: 27px;
}
.blog__item {
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  border-radius: 62px;
  padding: 21px;
}
.blog__item:hover {
  background: rgb(244, 240, 236);
}
.blog__item-image {
  position: relative;
}
.blog__item-image img {
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
  margin-bottom: 21px;
}
.blog__img-text {
  position: absolute;
  left: 20px;
  top: 228px;
  border-radius: 8px 8px 8px 0px;
  background: rgb(255, 255, 255);
  padding: 4px 10px 8px 11px;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
}
.blog__item-title {
  margin-bottom: 30px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 2%;
  text-align: left;
}
.blog__text-down {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog__text-down svg circle:hover {
  fill: white;
}
.blog__item-text {
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgb(77, 80, 83);
  letter-spacing: 1%;
  text-align: left;
  text-transform: capitalize;
}

.footer {
  padding-bottom: 134px;
  display: flex;
  gap: 101px;
}
.footer__left-block {
  width: 393px;
}
.footer__left-text {
  margin-top: 18px;
  margin-bottom: 31px;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
  color: rgb(77, 80, 83);
}
.footer__icon {
  display: flex;
  gap: 54px;
}
.footer__center-block {
  width: 125px;
  display: flex;
  flex-direction: column;
}
.footer__menu-text {
  margin-bottom: 9px;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 0%;
  text-align: left;
}
.footer__menu-link {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 1%;
  text-align: left;
  color: rgb(77, 80, 83);
}
.footer__contact {
  width: 258px;
}
.footer__contact-title {
  margin-bottom: 26px;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: rgb(41, 47, 54);
  letter-spacing: 0%;
  text-align: left;
}
.footer__contact-text {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  color: rgb(77, 80, 83);
}
.footer__contact-email {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 1%;
  color: rgb(77, 80, 83);
}
.footer__contact-phone {
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  color: rgb(77, 80, 83);
}/*# sourceMappingURL=style.css.map */